<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta content='width=device-width, initial-scale=1' name='viewport'>
        <title>视频搜索</title>
        <link rel="stylesheet" href="/public/css/lib/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/lib/fontawesome/css/font-awesome.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/lib/bootstrap-dialog.min.css" crossorigin="anonymous">
        <link rel="stylesheet" media="screen" href="/public/css/home.css" />
        <script type="text/javascript" src="/public/js/lib/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/public/js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="/public/js/lib/bootstrap-dialog.min.js"></script>
    </head>
    <body>
        <div class='container'>

            <div class='search_container'>
                <div class='search_info'>
                    <h2></h2>
                    <div><img src="/public/image/animation.gif" height="100" /></div>
                </div>
                <div class='search_form'>
                    <div class='row'>
                        <div class="form-group search_box_container">
                            <textarea class="form-control search_box" placeholder=""></textarea>
                            <span class="searchbox_tip">视频地址</span>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn demo_but">演示</button>
                            <button type="button" class="btn search_but">播放</button>
                        </div>
                        <div class="form-group">
                            <img src="/public/image/animation2.gif" class="loading"/>
                        </div>
                    </div>
                </div>
            </div>

            <!--dialog-->
            <div class="modal fade" id="PlayVideoDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <div style="width: 600px;height: 400px;">
                                <script type="text/javascript" src="/public/js/lib/player/sewise.player.min.js" id="swfjs"></script>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <i class="fa fa-download toDownload" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--dialog end-->

        </div>
    </body>
    <script type="text/javascript" src="/public/js/home.js"></script>
</html>
